class {{ name }}:
    """{{ name }} {{ type }}.

    This class represents {{ name|article }} {{ name }} in the system.
    """

    def __init__(self) -> None:
        """Initialize a new {{ name }} instance."""
